/* --------Google Font--------- */
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap");
body {
  margin: 0;
  font-family: "Poppins", sans-serif;
}
/* .........header style.......... */
.top-banner {
  background: #2d25a0;
  display: flex;
}

.flex-container {
  width: 50%;
  margin-right: 5%;
  margin-left: 5%;
  padding-left: 3%;
  padding-bottom: 25px;
}
h1 {
  padding-top: 15%;
  font-size: 60px;
  color: white;
  margin-bottom: 25px;
}
button {
  padding: 12px 35px;
  border: none;
  display: inline-block;
  width: fit-content;
  cursor: pointer;
  background: #e02c6d;
  color: white;
  font-size: 16px;
  transition: transform 0.5s;
}
button:hover {
  background: #1698dd;
  transform: translateY(-5px);
}
.banner-image {
  padding-top: 2%;
  padding-right: 5%;
}
.banner-image img {
  width: 400px;
  height: 520px;
  object-fit: contain;
  transition: transform 0.5s;
}
.banner-image img:hover {
  transform: translateY(-12px);
}

/* .......all-players section style.......... */
section {
  margin-top: 75px;
}
.all-players {
  margin-right: 5%;
  margin-left: 5%;
  padding-left: 4%;
  display: grid;
  row-gap: 25px;
  column-gap: 30px;
  grid-template-columns: repeat(3, 1fr);
}
.player {
  width: 320px;
  height: 474px;
  padding: 15px 10px 25px 25px;
  box-shadow: 10px 10px 20px lightgrey;
}
.player-image {
  width: 300px;
  height: 256px;
  object-fit: contain;
}
.player-details {
  font-family: "Josefin Sans", sans-serif;
  font-size: 16px;
  line-height: 28px;
}

/* ...........optional section............ */

.all-highlights {
  display: flex;
}
.heading p {
  font-family: "Josefin Sans", sans-serif;
  font-size: 16px;
  line-height: 28px;
  padding-bottom: 20px;
}
h2 {
  padding-top: 35px;
  font-size: 40px;
  color: #2d25a0;
  font-weight: 700;
}
.watch-button {
  padding: 10px 20px;
  text-decoration: none;
  background: #e02c6d;
  color: white;
  font-size: 14px;
}
.highlights-image img {
  width: 567px;
  height: 427px;
  padding-top: 20px;
}
/* .........bonus section............ */

.celebration {
  display: flex;
}
.embede-video {
  padding: 45px 2% 20px 5%;
  object-fit: contain;
}
/* ..........top xi players.......... */

.headline {
  margin-left: 8%;
  padding-bottom: 35px;
}
.top-players {
  margin-right: 8%;
  margin-left: 8%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 25px;
  column-gap: 20px;
}
#player {
  padding-left: 10px;
  padding-top: 5px;
  display: flex;
}
#player-image img {
  height: 85px;
  width: 85px;
  object-fit: cover;
  border-radius: 50%;
}
#player-name h4 {
  padding-left: 10px;
}
span {
  color: #2d25a0;
  font-size: 16px;
  font-family: "Josefin Sans", sans-serif;
}

/* ..........footer style.......... */
footer {
  margin-top: 250px;
}
.footer-logo img {
  width: 480px;
  height: 110px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}
.footer-icons {
  text-align: center;
}
.footer-icons i {
  color: #969bab;
  margin-right: 15px;
  font-size: 20px;
}
footer p {
  text-align: center;
  font-size: 18px;
}
